@font-face {
  font-family: 'icomoon';
  src: font-url('menu/icomoon.eot');
  src: font-url('menu/icomoon.eot?#iefix') format('embedded-opentype'),
    font-url('menu/icomoon.woff') format('woff'),
    font-url('menu/icomoon.ttf') format('truetype'),
    font-url('menu/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}