////////////////////////
// Variables Partials
//
// All of your variables should go in this file.
////////////////////////

$foo-bar: 'baz' 'qux', 'waldo' 'donald';

$blue: #0061c2;
$green: #23c800;
$std-border-size: 5px;